html,
body {
  font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  font-size: $--txt-base;
  line-height: 1.5;
}

/* 
#NOTES:
- 1296 + 24 = 1320px
  - (696 + gutter = 720px)
  - (348 + gutter = 372px)
*/

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;

  @include pad {
    max-width: 720px;
  }

  @include phone {
    max-width: 372px;
  }
}


.size-6 {
  width: 24px;
  height: 24px;
}

.size-12 {
  width: 48px;
  height: 48px;
}

.w-two-fifth {
  width: 40%;
}

.h-56 {
  height: 224px;
}


.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pt-12 {
  padding-top: 48px;
}

.pt-20 {
  padding-top: 80px;
}

.pt-44 {
  padding-top: 176px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pb-8 {
  padding-bottom: 32px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-55 {
  padding-left: 220px;
  padding-right: 220px;
}

.pl-4 {
  padding-left: 16px;
}


.mb-6 {
  margin-bottom: 24px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-10 {
  margin-bottom: 40px;
}

.mb-20 {
  margin-bottom: 80px;
}


.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-8 {
  gap: 32px;
}

.gap-9 {
  gap: 36px;
}

.gap-12 {
  gap: 48px;
}

.gap-16 {
  gap: 64px;
}


.theme-primary {
  color: $--color-white;
  background: $--color-primary;
}

.font-xl {
  font-size: $--txt-xl;
}

.font-lg {
  font-size: $--txt-lg;
}

.font-sm {
  font-size: $--txt-sm;
}

.font-xs {
  font-size: $--txt-xs;
}

.font-2xs {
  font-size: $--txt-2xs;
}

.font-bold {
  font-weight: bold;
}


.border-card {
  border: $--border-card;
}

.border-bottom {
  border-bottom: 1px solid $--color-white;
}

.border-left-primary {
  border-left: 8px solid $--color-primary;
}


.hover-effect-secondary {
  &:before {
    left: 0;
    bottom: 8px;
    width: 100%;
    /* underline's height */
    height: 3px;

    background: $--color-secondary;
    /* hidden */
    transform: scaleX(0);
  }

  &:hover:before {
    /* show */
    transform: scaleX(1);
  }
}

/* end of base */

.main {
  /* height: calc(100vh - 80px); */

  @include pad {
    padding-top: 160px;

    padding-left: 0px;
    padding-right: 0px;
  }

  @include phone {
    padding-top: 216px;

    & h2 {
      margin-bottom: 24px;
      font-size: $--txt-base;
    }
  }
}