* {
  // outline: 1px solid #f73;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  /* for underline */
  position: relative;

  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a::before,
a::after {
  /* pseudo-element */
  content: '';
  position: absolute;
}

a,
a::before,
a::after,
img {
  transition: transform 0.5s linear;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}

img:hover,
a:hover {
  opacity: 0.8;
}

input[type="button"],
button {
  border: none;
}

/* Selects any valid <input> */
input:valid {
  outline: 1px solid darkgreen;
  border-color: darkgreen;
}

input:focus,
input:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  outline: none;
  border-color: $--color-primary;
  box-shadow: inset 0 1px 1px $--color-secondary, 0 0 4px $--color-primary;
}

textarea {
  resize: none;
}

.material-symbols-outlined {
  font-size: inherit;
  color: inherit;
  vertical-align: middle;
}

/* end of custom-reset */