// color
$--color-primary: #AA0601;
$--color-secondary: #FBF2F2;

$--color-black: #000000;
$--color-white: #FFFFFF;
$--color-darkGray: #212529;
$--color-lightGray: #CED4DA;

$--border-card: 1px solid #00000020;

$--nav-height: 80px;

// font
$--txt-xl: 48px;
$--txt-lg: 36px;
$--txt-base: 24px;
$--txt-sm: 20px;
$--txt-xs: 18px;
$--txt-2xs: 16px;
$--txt-3xs: 14px;