.size-6 {
  width: 24px;
  height: 24px;
}

.size-12 {
  width: 48px;
  height: 48px;
}

.size-25 {
  width: 100px;
  height: 100px;
}

.size-104 {
  width: 416px;
  height: 416px;
}

.w-two-fifth {
  width: 40%;
}

.h-56 {
  height: 224px;
}


.pt-44 {
  padding-top: 176px;
}

.px-44 {
  padding-left: 176px;
  padding-right: 176px;
}

.px-55 {
  padding-left: 220px;
  padding-right: 220px;
}


.mt-auto {
  margin-top: auto;
}

.mx-auto {
  margin: 0 auto;
}


// end of gap

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}


.relative {
  position: relative;
}

.fixed {
  position: fixed;
}


.display-none {
  display: none;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.vertical-middle {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bg-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rounded {
  border-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.z-10 {
  z-index: 10;
}

/* end of utility-helpers */