// color
$--color-primary: #AA0601;
$--color-dark: #650300;
$--color-secondary: #FBF2F2;

$--color-black: #000000;
$--color-white: #FFFFFF;
$--color-darkGray: #212529;
$--color-lightGray: #CED4DA;

$--color-blogText: #555555;
$--color-pageGray: #F2F2F2;
$--color-muted: #707070;
$--color-border-gray: #DCDCDC;

$--border-card: 1px solid #00000020;

$--nav-height: 80px;
$phone-nav-height: $--nav-height + 48px + 48px;

// font
$--txt-2xl: 64px;
$--txt-xl: 48px;
$--txt-42: 42px;
$--txt-lg: 36px;
$--txt-lg-mini: 32px;
$--txt-base: 24px;
$--txt-sm: 20px;
$--txt-xs: 18px;
$--txt-2xs: 16px;
$--txt-3xs: 14px;