<footer class="footer pt-12 theme-primary font-2xs">
  <div class="container">
    <div class="flex justify-between border-bottom">
      <div>
        <ul class="nav-list rwd-none flex mb-6 gap-16 text-center">
          <li class="nav-list-item">
            <a class="py-3 hover-effect-secondary" href="#">首頁</a>
          </li>
          <li class="nav-list-item">
            <a class="py-3 hover-effect-secondary" href="#">系列鏡框</a>
          </li>
          <li class="nav-list-item">
            <a class="py-3 hover-effect-secondary" href="/store.html">門市據點</a>
          </li>
          <li class="nav-list-item">
            <a class="py-3 hover-effect-secondary" href="#">部落格</a>
          </li>
          <li class="nav-list-item">
            <a class="py-3 hover-effect-secondary effect" href="#">常見問題</a>
          </li>
        </ul>
        <!-- end of nav-list -->

        <ul class="contact-list pb-4 mb-4 font-lg">
          <li class="contact-list-item mb-2">
            <a href="tel:+0800-000-000" class="flex align-center gap-5">
              <span class="material-symbols-outlined">
                call
              </span>
              <p>0800-000-000</p>
            </a>
          </li>

          <li class="contact-list-item">
            <a href="mailto:glasses@business.com"
              class="flex align-center gap-5">
              <span class="material-symbols-outlined">
                mail
              </span>
              <p>glasses@business.com</p>
            </a>
          </li>
        </ul>
        <!-- end of contact-list -->
      </div>

      <ul class="sns-list flex gap-8">
        <li class="sns-list-item">
          <a href="https://www.facebook.com/hexschool/" target="_blank">
            <img loading="lazy"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png"
              alt="ic-social-fb" class="size-12"></a>
        </li>

        <li class="sns-list-item">
          <a href="https://www.instagram.com/hexschool/" target="_blank">
            <img loading="lazy"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png"
              alt="ic-social-ig" class="size-12"></a>
        </li>

        <li class="sns-list-item">
          <a href="https://hex.school/qgbMS" target="_blank">
            <img loading="lazy"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png"
              alt="ic-social-line" class="size-12"></a>
        </li>
      </ul>
      <!-- end of sns-list -->
    </div>

    <div class="footer-copyright flex justify-between py-8">
      <small>Copyright &copy; 2020 Glasses.All rights reserved.</small>

      <ul class="flex justify-between gap-12 font-3xs">
        <li>
          <a href="https://xd.adobe.com/view/5b20cbc4-5c64-4b67-814e-633b078a8cd4-0e73/grid"
            target="_blank">隱私權政策</a>
        </li>
        <li>
          <a href="https://www.hexschool.com/courses/web-layout-training-1st.html"
            target="_blank">服務條款</a>
        </li>
      </ul>
    </div>
    <!-- end of copyright -->
  </div>
</footer>