<nav class="nav fixed w-full theme-primary z-10">
  <div class="container flex justify-between align-center">
    <a href="#" class="py-4">
      <h1 class="h1-logo">Glasses</h1>
    </a>

    <ul class="nav-list flex gap-16 text-center font-sm">
      <li class="nav-list-item">
        <a class="py-3 hover-effect-secondary" href="#">系列鏡框</a>
      </li>
      <li class="nav-list-item">
        <a class="py-3 hover-effect-secondary" href="/pages/store.html">門市據點</a>
      </li>
      <li class="nav-list-item">
        <a class="py-3 hover-effect-secondary" href="#">部落格</a>
      </li>
      <li class="nav-list-item">
        <a class="py-3 hover-effect-secondary" href="#">常見問題</a>
      </li>
    </ul>
    <!-- end of nav-list -->
  </div>
  <!-- end of nav.container -->
</nav>