<nav class="nav fixed w-full theme-primary z-10">
  <div class="container flex justify-between align-center p-sm-0">
    <a href="./index.html" class="py-4">
      <h1 class="h1-logo">Glasses</h1>
    </a>

    <ul
      class="nav-list flex gap-16 text-center font-sm gap-md-12 sm-w-full gap-sm-0">
      <li class="nav-list-item">
        <a class="py-3 hover-effect-secondary sm-block py-sm-3"
          href="#">系列鏡框</a>
      </li>
      <li class="nav-list-item">
        <a class="py-3 hover-effect-secondary sm-block py-sm-3"
          href="./store.html">門市據點</a>
      </li>
      <li class="nav-list-item">
        <a class="py-3 hover-effect-secondary sm-block py-sm-3"
          href="./blog.html">部落格</a>
      </li>
      <li class="nav-list-item">
        <a class="py-3 hover-effect-secondary sm-block py-sm-3"
          href="./faq.html">常見問題</a>
      </li>
    </ul>
    <!-- end of nav-list -->
  </div>
  <!-- end of nav.container -->
</nav>


<nav
  class="<%=page==='blog'
? 'nav-blog relative w-full theme-primary-dark z-10 sm-none' : 'display-none' %>">
  <div class="container flex justify-between align-center">
    <ul class="nav-list flex gap-16 text-center font-sm">
      <li class="nav-list-item">
        <a class="py-3" href="#">最新消息</a>
      </li>
      <li class="nav-list-item">
        <a class="py-3" href="#">特別企劃</a>
      </li>
      <li class="nav-list-item">
        <a class="py-3" href="#">新品上市</a>
      </li>
      <li class="nav-list-item">
        <a class="py-3" href="#">鏡框小知識</a>
      </li>
    </ul>
    <!-- end of nav-list -->
  </div>
  <!-- end of nav.container -->
</nav>