.text-primary {
  color: $--color-primary;
}

.text-dark {
  color: $--color-dark;
}

.text-blog {
  color: $--color-blogText;
}


.text-black {
  color: $--color-black;
}

.text-black-light {
  color: $--color-black;
  opacity: 0.7;
}

.text-white {
  color: $--color-white;
}


.bg-white {
  background: $--color-white;
}

.bg-black {
  background: $--color-black;
}

.bg-secondary {
  background: $--color-secondary;
}

.bg-page-gray {
  background-color: $--color-pageGray;
}


.theme-primary {
  color: $--color-white;
  background: $--color-primary;
}

.theme-primary-dark {
  color: $--color-white;
  background: $--color-dark;
}

.theme-secondary {
  color: $--color-dark;
  background: $--color-secondary;
}


.border-black {
  border: 1px solid $--color-black;
}

.border-card {
  border: $--border-card;
}

.border-bottom {
  border-bottom: 1px solid $--color-white;
}

.article-border-bottom {
  border-bottom: 1px solid $--color-muted;
}


.border-left-primary {
  border-left: 8px solid $--color-primary;
}


@include pad {
  .md-text-blog {
    color: $--color-blogText;
  }
}