@import './base/variables';
@import './base/reset';
@import './base/reset-custom';

@import './utils/mixins';
@import './base/base';

@import './utils/helpers';

@import './components/scrollbar';

@import './layout/navbar';
@import './layout/header';
@import './layout/footer';


@import './pages/index.scss';
@import './pages/store.scss';
@import './pages/faq.scss';