.sns-list img:hover {
  animation: jump 1s infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-16px);
  }

  100% {
    transform: translateY(0);
  }
}

.sns-list-item img {
  @include pad {
    width: 40px;
    height: 40px;
  }

  @include phone {
    width: 24px;
    height: 24px;
  }
}

.footer-copyright {
  @include pad {
    padding-bottom: 40px;
  }

  @include phone {
    padding-top: 10px;
    padding-bottom: 24px;
  }
}


@include phone {
  .rwd-none {
    display: none;
  }

  .nav>.container,
  .nav-list {
    flex-wrap: wrap;
  }


  .footer {
    padding-top: 24px;
  }

  .sns-list {
    gap: 8px;
  }


  .contact-list,
  .nav-list {
    font-size: $--txt-2xs;
  }

  .contact-list {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }


  .footer-copyright,
  .footer-copyright ul {
    flex-direction: column;
    gap: 8px;
  }

  /* end of RWD-footer */
}