.hero {
  height: calc(100vh - #{$--nav-height});
  top: $--nav-height;

  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png);

  @include pad {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png);
  }

  @include phone {
    height: calc(100vh - #{$phone-nav-height});
    top: $phone-nav-height;
  }

  >.container {
    padding-top: 24%;

    @include pad {
      padding-top: 20%;
    }

    @include phone {
      padding-top: 36%;
    }
  }

  &-link {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}