.h1-logo {
  /* for h1 SEO */
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png) center center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 80px;
  height: 48.57px;

  /* push away */
  text-indent: 101%;
  /* avoid more lines */
  white-space: nowrap;
  overflow: hidden;

  @media (max-width:375px) {
    margin-left: 15px;
  }
}


.nav {
  height: 80px;

  @media (max-width:375px) {
    height: auto;

    >.container {
      padding: 0;
    }
  }
}

.nav-list {
  @media (max-width:768px) {
    gap: 48px;
  }

  @media (max-width:375px) {
    width: 100%;
    gap: 0px;

    border-top: 1px solid $--color-white;
    border-left: 1px solid $--color-white;
    border-right: 1px solid $--color-white;
  }
}

.nav-list-item {
  @media (max-width:375px) {
    width: 49.9%;

    border-bottom: 1px solid $--color-white;

    >a {
      display: block;

      padding-top: 12px;
      padding-bottom: 12px;
    }

    &:nth-child(odd) {
      border-right: 1px solid $--color-white;
    }
  }
}
