.h1-logo {
  /* for h1 SEO */
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png) center center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 80px;
  height: 48.57px;

  /* push away */
  text-indent: 101%;
  /* avoid more lines */
  white-space: nowrap;
  overflow: hidden;

  @include phone {
    margin-left: 15px;
  }
}


.nav {
  height: $--nav-height;

  @include phone {
    height: auto;

    &-list {
      border-top: 1px solid $--color-white;
      border-left: 1px solid $--color-white;
      border-right: 1px solid $--color-white;

      &-item {
        width: 49.9%;

        border-bottom: 1px solid $--color-white;

        &:nth-child(odd) {
          border-right: 1px solid $--color-white;
        }
      }
    }

    // end of nav-list
  }

  // end of nav-phone

  &-blog {
    height: 56px;
    top: $--nav-height;
    z-index: 9;

    @include phone {
      height: 48px;
      top: $phone-nav-height;
    }
  }

  &-product {
    height: 80px;
    top: $--nav-height;

    @include pad {
      height: 68px;
    }

    @include phone {
      height: 56px;
      // QQ
      top: calc($phone-nav-height + 3px);
    }

    & .list-item {
      // QQ
      // width: calc(431 / 1296 * 100%);
      width: 34%;
      border: 1px solid $--color-border-gray;

      & a:hover {
        padding-bottom: 16px;
        border-bottom: 8px solid $--color-primary;
      }
    }
  }
}

// end of nav