.h1-logo {
  /* for h1 SEO */
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png) center center;
  background-size: contain;
  background-repeat: no-repeat;

  width: 80px;
  height: 48.57px;

  /* push away */
  text-indent: 101%;
  /* avoid more lines */
  white-space: nowrap;
  overflow: hidden;

  @include phone {
    margin-left: 15px;
  }
}


.nav {
  height: $--nav-height;

  @include phone {
    height: auto;

    &-list {
      border-top: 1px solid $--color-white;
      border-left: 1px solid $--color-white;
      border-right: 1px solid $--color-white;

      &-item {
        width: 49.9%;

        border-bottom: 1px solid $--color-white;

        &:nth-child(odd) {
          border-right: 1px solid $--color-white;
        }
      }
    }

    // end of nav-list
  }

  // end of nav-phone

  &-blog {
    height: 56px;
    top: $--nav-height;
  }
}

// end of nav