.info {
  @include phone {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-list-item {
    width: calc(306 / 1296 * 100%);

    @include pad {
      width: 100%;
    }
  }
}

.series-list {
  @include pad {
    flex-direction: column;
  }

  & img {
    @include pad {
      width: 336px;
      height: 336px;
    }

    @include phone {
      width: 348px;
      height: 348px;
    }
  }
}

.design {
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include pad {
    background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-md.png);
  }

  @include phone {
    background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-sm.png);
  }

  &-list {
    @include pad {
      flex-direction: column;
      gap: 24px;
    }

    & img {
      width: 648px;
      height: 240px;

      @include pad {
        width: 696px;
      }

      @include phone {
        width: 348px;
      }
    }

    &-item:first-child figcaption {
      border-right: 1px solid $--color-lightGray;

      @include pad {
        border: none;
      }
    }
  }
}

.review-list {
  @include pad {
    flex-direction: column;
  }

  & img {
    // width: 306px;
    // height: 306px;
    // height: calc(306 / 1296 * 100%);
    border-radius: 4px 4px 0px 0px;
  }

  &-item {
    width: calc(306 / 1296 * 100%);

    @include pad {
      // QQ
      width: calc(336 / 696 * 100%);
    }

    @include phone {
      width: 100%;
    }

    &-txt {
      // QQ
      min-height: 205px;
      border: 1px solid #DEE2E6;
      border-radius: 0px 0px 4px 4px;
      box-shadow: 0px 2px 6px #00000029;
    }

    &-txt span {
      color: #707070;
    }

    &:hover {
      box-shadow: 0px 2px 12px #00000029;
    }
  }
}