.blog-list-item {
  &-figure img {
    object-fit: cover;
    // width: 636px;
    // height: 400px;    
  }

  &-figure,
  &-txt {
    width: 49%;

    @include phone {
      width: 100%;
    }
  }


  @include phone {

    & h3,
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.pagination {

  & a:last-child,
  &-list-item {
    margin-left: -1px;
  }

  &-list-item-active {
    color: $--color-white;
    background: $--color-black;
  }
}

// .pagination-list-item {
// width: 40px;
// height: 45px;
// }

.blog-article {
  width: 66%;

  @include phone {
    width: 100%;
  }
}