<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/head'); -%>

    <title>Glasses</title>
</head>

<body>
  <header class="header h-screen">
    <%- include('./layout/navbar'); -%>

      <section class="hero relative bg-cover text-right text-dark font-noto">
        <div class="container">
          <p class="font-lg phone-font-2xs">Promise-Desert 2020 早春系列</p>

          <h2 class="mb-1 font-bold font-2xl phone-font-base">看得清，才能看得遠</h2>

          <a href="#"
            class="btn hero-link inline-block px-3 theme-primary font-sm phone-font-sm">
            立即購買
          </a>
        </div>
      </section>
  </header>

  <main>
    <section class="info py-20 text-center theme-secondary">
      <h2 class="mb-6 font-bold font-xl phone-font-base">用專業的心，做專業的事</h2>

      <ul class="info-list flex flex-wrap gap-6">
        <li class="info-list-item">
          <div>
            <figure>
              <img loading="lazy"
                src="../assets/images/home-section2-1.png"
                alt="unique-price" class="mb-4 size-25">
            </figure>

            <h3 class="mb-2 font-bold phone-font-base">單一價格</h3>

            <p class="text-black font-2xs">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </div>
        </li>

        <li class="info-list-item">
          <div>
            <figure>
              <img loading="lazy"
                src="../assets/images/home-section2-2.png"
                alt="fast-service" class="mb-4 size-25">
            </figure>

            <h3 class="mb-2 font-bold phone-font-base">20 分鐘即可取件</h3>

            <p class="text-black font-2xs">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。
            </p>
          </div>
        </li>
        <li class="info-list-item">
          <div>
            <figure>
              <img loading="lazy"
                src="../assets/images/home-section2-3.png"
                alt="safety-service" class="mb-4 size-25">
            </figure>

            <h3 class="mb-2 font-bold phone-font-base">安心售後服務</h3>

            <p class="text-black font-2xs">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </div>
        </li>
        <li class="info-list-item">
          <div>
            <figure>
              <img loading="lazy"
                src="../assets/images/home-section2-4.png"
                alt="about-glasses" class="mb-4 size-25">
            </figure>

            <h3 class="mb-2 font-bold phone-font-base">關於鏡片</h3>

            <p class="text-black font-2xs">使用世界知名頂級品牌，抗 UV、防汙鍍膜薄型非球面鏡片。</p>
          </div>
        </li>
      </ul>
    </section>

    <section class="series"></section>

    <section class="design"></section>

    <section class="feedback"></section>

    <section class="contact"></section>
  </main>

  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>