<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/head'); -%>

    <title>Glasses</title>
</head>

<body>
  <header class="header h-screen">
    <%- include('./layout/navbar'); -%>

      <section class="hero relative bg-cover text-right text-dark font-noto">
        <div class="container">
          <p class="font-lg phone-font-2xs">Promise-Desert 2020 早春系列</p>

          <h2 class="mb-1 font-bold font-2xl phone-font-base">看得清，才能看得遠</h2>

          <a href="#"
            class="btn hero-link inline-block px-3 theme-primary font-sm phone-font-sm">
            立即購買
          </a>
        </div>
      </section>
  </header>

  <main>
    <section class="info container py-20 text-center theme-secondary">
      <h2 class="mb-6 font-bold font-xl phone-font-base">用專業的心，做專業的事</h2>

      <ul class="info-list flex flex-wrap gap-6">
        <li class="info-list-item">
          <div>
            <figure>
              <img loading="lazy" src="../assets/images/home-section2-1.png"
                alt="unique-price" class="mb-4 size-25">
            </figure>

            <h3 class="mb-2 font-bold phone-font-base">單一價格</h3>

            <p class="text-black font-2xs">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </div>
        </li>

        <li class="info-list-item">
          <div>
            <figure>
              <img loading="lazy" src="../assets/images/home-section2-2.png"
                alt="fast-service" class="mb-4 size-25">
            </figure>

            <h3 class="mb-2 font-bold phone-font-base">20 分鐘即可取件</h3>

            <p class="text-black font-2xs">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </div>
        </li>
        <li class="info-list-item">
          <div>
            <figure>
              <img loading="lazy" src="../assets/images/home-section2-3.png"
                alt="safety-service" class="mb-4 size-25">
            </figure>

            <h3 class="mb-2 font-bold phone-font-base">安心售後服務</h3>

            <p class="text-black font-2xs">我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </div>
        </li>
        <li class="info-list-item">
          <div>
            <figure>
              <img loading="lazy" src="../assets/images/home-section2-4.png"
                alt="about-glasses" class="mb-4 size-25">
            </figure>

            <h3 class="mb-2 font-bold phone-font-base">關於鏡片</h3>

            <p class="text-black font-2xs">使用世界知名頂級品牌，抗 UV、防汙鍍膜薄型非球面鏡片。</p>
          </div>
        </li>
      </ul>
    </section>

    <section class="series container py-20 text-center font-bold font-xl">
      <h2 class="mb-6 text-dark phone-font-base">經典系列鏡框</h2>

      <ul class="series-list flex gap-6">
        <li class="series-list-item">
          <figure>
            <img loading="lazy"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-1.png"
              alt="OPTICAL" class="mb-2 size-104">

            <figcaption class="font-italic text-primary">
              OPTICAL
            </figcaption>
          </figure>
        </li>
        <li class="series-list-item">
          <figure>
            <img loading="lazy"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-2.png"
              alt="SUNGLASSES" class="mb-2 size-104">
            <figcaption class="font-italic text-primary">
              SUNGLASSES
            </figcaption>
          </figure>
        </li>
        <li class="series-list-item">
          <figure>
            <img loading="lazy"
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-3.png"
              alt="FUNCTIONAL" class="mb-2 size-104">
            <figcaption class="font-italic text-primary">
              FUNCTIONAL
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <section class="design py-20 text-center font-bold font-xl">
      <div class="container">
        <h2 class="mb-6 text-white phone-font-base">聯名設計鏡框</h2>

        <ul class="design-list flex">
          <li class="design-list-item">
            <figure>
              <picture>
                <source srcset="../assets/images/home-section4-1-sm.png"
                  media="(max-width: 375px)" />
                <img loading="lazy" src="../assets/images/home-section4-1.png"
                  alt="DOUBLE A+">
              </picture>

              <figcaption class="py-2 font-italic text-primary bg-white">
                DOUBLE A+
              </figcaption>
            </figure>
          </li>
          <li class="design-list-item">
            <figure>
              <picture>
                <source srcset="../assets/images/home-section4-2-sm.png"
                  media="(max-width: 375px)" />
                <img loading="lazy" src="../assets/images/home-section4-2.png"
                  alt="YOUTH">
              </picture>
              <figcaption class="py-2 font-italic text-primary bg-white">
                YOUTH
              </figcaption>
            </figure>
          </li>
        </ul>

      </div>
    </section>

    <section class="review container py-20">
      <h2 class="mb-6 text-center text-dark font-bold font-xl phone-font-base">
        顧客推薦</h2>

      <ul class="review-list flex gap-6">
        <li class="review-list-item">
          <div>
            <figure>
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-1.png"
                alt="Jessy">
            </figure>

            <section class="review-list-item-txt flex flex-col font-2xs p-4">
              <h3 class="mb-2 font-bold">Jessy</h3>
              <p>眼鏡品質優良，下次還會想來這邊購買！</p>

              <span class="mt-auto font-3xs">
                2021/06/20
              </span>
            </section>

          </div>
        </li>
        <li class="review-list-item">
          <div>
            <figure>
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-2.png"
                alt="凱倫">
            </figure>

            <section class="review-list-item-txt flex flex-col font-2xs p-4">
              <h3 class="mb-2 font-bold">凱倫</h3>
              <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>

              <span class="mt-auto font-3xs">
                2021/04/18
              </span>
            </section>

          </div>
        </li>
        <li class="review-list-item">
          <div>
            <figure>
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-3.png"
                alt="悠悠">
            </figure>

            <section class="review-list-item-txt flex flex-col font-2xs p-4">
              <h3 class="mb-2 font-bold">悠悠</h3>
              <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>

              <span class="mt-auto font-3xs">
                2020/12/25
              </span>
            </section>

          </div>
        </li>
        <li class="review-list-item">
          <div>
            <figure>
              <img loading="lazy"
                src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section5-4.png"
                alt="Kyuan">
            </figure>

            <section class="review-list-item-txt flex flex-col font-2xs p-4">
              <h3 class="mb-2 font-bold">Kyuan</h3>
              <p>服務很好，品質沒有任何問題，非常喜歡。</p>

              <span class="mt-auto font-3xs">
                2020/10/31
              </span>
            </section>

          </div>
        </li>
      </ul>
    </section>

    <section class="contact bg-secondary py-20">
      <div class="container">
        <h2
          class="mb-12 text-center text-dark font-bold font-xl phone-font-base">
          顧客推薦</h2>

        <form action="#" class="contact-form mb-4 font-sm">
          <p class="mb-6">
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>

          <div class="mb-4">
            <label for="user-name" class="block mb-2">姓名</label>
            <input type="text" name="user-name" id="user-name"
              class="w-full pl-3" placeholder="陳小明" required>
          </div>

          <div class="mb-4">
            <label for="mobile" class="block mb-2">聯絡電話</label>
            <input type="tel" name="mobile" id="mobile" class="w-full pl-3"
              placeholder="0912-345-678">
          </div>

          <div class="mb-4">
            <label for="email" class="block mb-2">電子郵件</label>
            <input type="email" name="email" id="email" class="w-full pl-3"
              placeholder="example@email.com" required>
          </div>

          <div class="mb-4">
            <label for="story" class="block mb-2">意見反應</label>

            <textarea id="story" name="story" rows="5" cols="33"
              class="w-full pl-3" placeholder="請輸入您的意見">
            </textarea>
          </div>

          <div class="mb-12">
            <input type="checkbox" name="checkbox" id="checkbox"
              class="mr-1 cursor-pointer" required>

            <label for="checkbox"
              class="cursor-pointer">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>

          <!-- QQ -->
          <button type="button"
            class="btn block mx-auto py-4 px-44 theme-primary cursor-pointer">
            確認送出
          </button>
        </form>
      </div>
    </section>
  </main>

  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>

</html>