<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/head'); -%>

    <title>常見問題 | Glasses</title>
</head>

<body>
  <%- include('./layout/navbar', {page: "product" }); -%>

    <main class="main mb-20">
      <div class="container">
        <hgroup class="mb-8 mb-sm-6 text-center phone-font-base">
          <h2 class="fs-42 font-medium">
            Celluloid Combi
          </h2>
          <p class="font-lg-mini">
            賽璐珞鈦金屬混合鏡框
          </p>
        </hgroup>

        <ul
          class="product-list flex gap-6 flex-wrap sm-flex-col justify-between mb-20 mb-sm-16">

          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>
          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>
          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>
          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>

          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>
          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>
          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>
          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>

          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-1.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>
          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-2.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>
          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-3.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>
          <li class="product-list-item">
            <a href="#" class="block">
              <figure class="inline-block">
                <img loading="lazy"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-4.png"
                  alt="product-img" class="product-list-item-img">
              </figure>

              <hgroup class="flex justify-between align-center">
                <h3>BJ41600S</h3>
                <p class="font-medium text-primary">NTD 3,490</p>
              </hgroup>

              <div class="flex align-center gap-2">
                <span class="block size-6 rounded color-brown"></span>
                <span class="block size-6 rounded color-orange"></span>
              </div>
            </a>
          </li>

        </ul>

        <div class="pagination flex font-2xs justify-center phone-font-2xs">
          <a href="#" class="p-3 border-black text-ellipsis">上一頁</a>

          <ul class="pagination-list flex align-center">
            <li class="pagination-list-item border-black">
              <a href="#" class="py-3 px-4">1</a>
            </li>
            <li
              class="pagination-list-item border-black pagination-list-item-active">
              <a href="#" class="py-3 px-4">2</a>
            </li>
            <li class="pagination-list-item border-black">
              <a href="#" class="py-3 px-4">3</a>
            </li>
            <li class="pagination-list-item border-black">
              <a href="#" class="py-3 px-4">4</a>
            </li>
            <li class="pagination-list-item border-black">
              <a href="#" class="py-3 px-4">5</a>
            </li>
          </ul>

          <a href="#"
            class="p-3 border-black bg-page-gray text-ellipsis">下一頁</a>
        </div>
        <!-- end of pagination -->
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>