<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/head'); -%>

    <title>常見問題 | Glasses</title>
</head>

<body>
  <%- include('./layout/navbar', {page: "product" }); -%>

    <main class="main pt-20 pt-sm-10 mb-20">
      <div class="container">
        <hgroup class="text-center">
          <h2 class="font-medium">Celluloid Combi</h2>
          <p>賽璐珞鈦金屬混合鏡框</p>
        </hgroup>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>