<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/head'); -%>

  <title>門市據點 | Glasses</title>
</head>

<body>
  <%- include('./layout/navbar'); -%>

    <main class="main container pt-44 mb-20 pt-sm-54">
      <h2 class="mb-8 pl-4 font-xl border-left-primary">門市據點</h2>

      <div class="store flex align-center gap-4 mb-10">
        <p>選擇分店</p>

        <form action="#" class="select-store-form font-xs">
          <select class="px-3 vertical-middle cursor-pointer">
            <optgroup label="台北">
              <option value="store1">
                台北中山旗艦店
              </option>
            </optgroup>
          </select>
          <!-- <span class="material-symbols-outlined">
            arrow_drop_down
          </span> -->
        </form>
      </div>

      <div class="flex justify-between align-center gap-6 flex-wrap">
        <div class="store-info w-two-fifth">
          <figure>
            <!-- <figure class="inline-block h-56"> -->
            <img loading="lazy" src="../assets/images/store-1.png" alt="台北中山旗艦店"
              class="store-info-img">
          </figure>

          <section class="store-info-card">
            <h3 class="px-6 py-2 border-card">台北中山旗艦店</h3>

            <ul class="px-6 py-4 font-sm border-card">
              <li>
                <p class="flex align-center gap-2">
                  <span class="material-symbols-outlined">
                    call
                  </span>
                  電話：<a href="tel:+88620001234" type="tel">
                    (02)000-1234
                  </a>
                </p>
              </li>
              <li>
                <p class="flex align-center gap-2">
                  <span class="material-symbols-outlined">
                    schedule
                  </span>營業時間：10:00-21:00
                </p>
              </li>
              <!-- QQ -->
              <li>
                <p class="flex align-center gap-2">
                  <span class="material-symbols-outlined">
                    location_on
                  </span>地址：<a
                    href="https://www.google.com.tw/maps/search/台北市中山區南京東路+25+巷+2-1+號/"
                    target="_blank">
                    台北市中山區南京東路 25 巷 2-1 號
                  </a>
                </p>
              </li>
            </ul>
          </section>
        </div>

        <map class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.476891713042!2d121.54022397460945!3d25.051820677804816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abdde30008f1%3A0x319a7942664a3d3b!2z5Y-w5YyX5biC5Lit5bGx5Y2A5Y2X5Lqs5p2x6Lev5LiJ5q61!5e0!3m2!1szh-TW!2stw!4v1690513714824!5m2!1szh-TW!2stw"
            style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="w-full h-full"></iframe>
          <!-- width="746" height="414"  -->
        </map>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>