<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./layout/head'); -%>

    <title>門市據點 | Glasses</title>
</head>

<body>
  <%- include('./layout/navbar', {page: "store" }); -%>

    <main class="main container pt-44 mb-20 pt-sm-54">
      <h2 class="mb-8 pl-4 font-xl border-left-primary">門市據點</h2>

      <div class="store flex align-center gap-4 mb-10 mb-sm-6">
        <p class="phone-font-2xs">選擇分店</p>

        <form action="#" class="select-store-form font-xs">
          <select class="px-3 vertical-middle cursor-pointer">
            <optgroup label="台北">
              <option value="store1">
                台北中山旗艦店
              </option>
            </optgroup>
          </select>
        </form>
      </div>

      <ul class="store-info-list flex align-center gap-6 flex-wrap">

        <li class="store-info-item">
          <div>
            <figure class="store-info-figure">
              <img loading="lazy" src="../assets/images/store-1.png"
                alt="台北中山旗艦店" class="store-info-img">
            </figure>

            <section class="store-info-card">
              <h3 class="px-6 py-2 border-card">台北中山旗艦店</h3>

              <ul class="px-6 py-4 font-sm border-card">
                <li>
                  <p class="flex align-center gap-2">
                    <span class="material-symbols-outlined">
                      call
                    </span>
                    電話：<a href="tel:+88620001234" type="tel">
                      (02)000-1234
                    </a>
                  </p>
                </li>
                <li>
                  <p class="flex align-center gap-2">
                    <span class="material-symbols-outlined">
                      schedule
                    </span>營業時間：10:00-21:00
                  </p>
                </li>
                <li>
                  <p class="flex align-center gap-2">
                    <span class="material-symbols-outlined">
                      location_on
                    </span>地址：<a
                      href="https://www.google.com.tw/maps/search/台北市中山區南京東路+25+巷+2-1+號/"
                      target="_blank">
                      台北市中山區南京東路 25 巷 2-1 號
                    </a>
                  </p>
                </li>
              </ul>
            </section>

            <a href="/store-info.html"
              class="btn block py-4 text-center font-sm text-white bg-black">
              詳細資訊
            </a>
          </div>
        </li>

      </ul>
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>